* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  text-align: center;
  background-color: #ced3df;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.list {
  width: 400px;
  /* height: 500px; 포함하면 왜 깨지는거지? */
  background-color: #f1f0f7;
  border-radius: 20px;
  margin: auto;
}

.items {
  height: 500px;
  overflow-y: auto;
  margin: 0px;
}

.header {
  height: 48px;
  color: white;
  font-size: 34px;
  background: rgb(240, 156, 86);
  background: linear-gradient(
    14deg,
    rgba(240, 156, 86, 1) 0%,
    rgba(234, 245, 97, 1) 22%,
    rgba(144, 235, 224, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px 20px 0 0;
}

.footer {
  height: 90px;
  background: rgb(240, 156, 86);
  background: linear-gradient(
    14deg,
    rgba(240, 156, 86, 1) 0%,
    rgba(234, 245, 97, 1) 22%,
    rgba(144, 235, 224, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center;
  padding: 8px 32px;
}

.item__row {
  list-style: none;
}

.item__name {
}

.item__button {
  transition: all 300ms ease-in;
  font-size: 18px;
}

.item__button:hover {
  color: red;
  transform: scale(1.3);
}

.item__divider {
  width: 90%;
  height: 2px;
  background-color: lightgray;
  margin: auto;
}

.footer__input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  margin: 0px;
  padding: 0 16px;
  font-size: 24px;
}

.footer__button {
  width: 48px;
  height: 48px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  transition: transform 300ms ease-in;
  margin-bottom: 4px;
}

.footer__button:hover {
  transform: scale(1.3);
}
